/* JULES LENZI 01/24/2026 */
/* Homepage Stylesheet */

body {
    font-family: sans-serif; 
    color: white; 
    background-color: black;
}

.content {
    max-width: 500px;
    margin: auto;
}

#home {
    font-variant-caps: all-small-caps;
}
    
/* LINKS */

a:link {
    color: white;
}

a:visited {
    color: black;
    background-color: white;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: white;
    text-decoration: none;
}

a:active {
    color: white;
    background-color: black;
    text-decoration: none;
    border: 1px solid white;
}

/* COPYLEFT */

footer {
    position: fixed;
    bottom: 0;
}

hr {
    border-top: 1px solid white;
}

.icons {
    font-size: 1em;
    width: 4em;
    height: 1em;
    position: relative;
}

.link {
    text-decoration: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

img {
    max-width: 1em;
    max-height: 1em;
}