/* donations catalog stylesheet */

catalog, book, title, author, publisher { 
    display: block;
    background-color: lightgray;
    font-family: sans-serif;
}

catalog:nth-child(odd) {
    background-color: darkgray;
}

title {
    font-weight: bold;
    color: red; 
}