/* JULES LENZI 1/24/2026 */
/* Book Donations Catalog Stylesheet */

catalog {
    background-color: lightgray;
    font-family: sans-serif;
}

book, title, author, publisher { 
    display: block;
}

title {
    font-weight: bold;
    color: red; 
}

book:nth-child(odd) {
    background-color: darkgray;
}