/* JULES LENZI 01/24/2026 */
/* Book Donations Catalog Stylesheet */

catalog {
    background-color: black;
    color: white;
    font-family: sans-serif;
    max-width: 500px;
    margin: auto;
}

book, title, author, publisher { 
    display: block;
}

title {
    color: red;
    font-weight: bold;
    font-style: italic;
}

book:nth-child(odd) {
    background-color: white;
    color: black;
}