/* donations catalog stylesheet */

catalog, book, title, author, publisher { 
    display: block;
    background-color: #D3D3D3;
    font-family: sans-serif;
    color: black;
}

book1, book3, book5 {
    background-color: #A9A9A9;
}

title {
    font-weight: bold;
    color: red; 
}