/* donations catalog stylesheet */

catalog {
    background-color: lightgray;
    font-family: sans-serif;
}

book, title, author, publisher { 
    display: block;
}

book:nth-child(odd) {
    background-color: black;
}

title {
    font-weight: bold;
    color: red; 
}