/* donations catalog stylesheet */

catalog, book, title, author, publisher { 
    display: block;
    background-color: lightgray;
    font-family: sans-serif;
}

book:nth-child(odd) {
    background-color: black;
}

title {
    font-weight: bold;
    color: red; 
}