/* donations catalog stylesheet */

catalog { 
    background-color: black;
    font-family: sans-serif;
    color: white;
}

book, title, author, publisher { 
    display: block;
}

title {
    font-weight: bold;
    color: red; 
}