/* donations catalog stylesheet */

catalog { 
    background-color: #d3d3d3;
    font-family: sans-serif;
    color: #000000;
}

book, title, author, publisher { 
    display: block;
}

catalog:nth-child(odd) {
    background: #a9a9a9;
}

title {
    font-weight: bold;
    color: #ff0000; 
}