/* donations catalog stylesheet */

catalog, book, title, author, publisher { 
    display: block;
    background-color: lightgray;
    font-family: sans-serif;
}

#book1, #book3, #book5 {
    background-color: darkgray;
}

title {
    font-weight: bold;
    color: red; 
}