/* JULES LENZI 02/05/2026 */
/* Client Accounts Ledger Stylesheet */

body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.content {
    max-width: 500px;
    margin: auto;
}

#home {
    font-variant-caps: all-small-caps;
}

h1 {
    font-style: italic;
}

/* TABLE */

table, th, td {
    border: 1px solid white;
} 

th, td {
    padding: 5px;
}

th {
    font-weight: bold;
    font-variant-caps: all-small-caps;
}

#client-row:nth-child(odd) {
    background-color: darkgray;
}

/* LINKS */

a:link {
    color: white;
}

a:visited {
    color: lightgray;
    text-decoration: none;
}

a:hover {
    color: darkgray;
    background-color: lightgray;
    text-decoration: none;
}

a:active {
    color: lightgray;
    text-decoration: none;
    border: 1px solid lightgray;
}

/* TOTALS */

.less {
    text-align: right; 
    color: red; 
    font-weight: bold;
}                

.total {
    text-align: right;
}

/* COPYLEFT */

footer {
    position: fixed;
    bottom: 0;
}

hr {
    border-top: 1px solid white;
}

.icons {
    font-size: 1em;
    width: 4em;
    height: 1em;
    position: relative;
}

.link {
    text-decoration: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

img {
    max-width: 1em;
    max-height: 1em;
}